<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<form action="#" th:action="@{/admin/edit}" th:object="${user}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id = "id" placeholder = "ID">
    <br/>
    <label for="email">EMAIL</label>
    <input type="text" th:field="*{email}" id = "email" placeholder = "EMAIL">
    <br/>
    <label for="name">NAME</label>
    <input type="text" th:field="*{username}" id = "name" placeholder = "NAME">
    <br/>
    <label for="password">PASSWORD</label>
    <input type="hidden" th:field="*{password}" id = "password" placeholder = "PASSWORD">
    <br/>
    <label for="surname">SURNAME</label>
    <input type="text" th:field="*{surname}" id = "surname" placeholder = "SURNAME">
    <br/>
    <label for="age">AGE</label>
    <input type="text" th:field="*{age}" id = "age" placeholder = "AGE">
    <br/>
    <label for="active">ACTIVE</label>
    <input type="checkbox" th:field="*{active}" id = "active" placeholder = "ACTIVE">
    <br/>
    <label>Roles</label>
    <p>
        <label>
            <select size="3" multiple="multiple" name="roles" id="roles">
                <option disabled>Roles:</option>
                <option value="ADMIN">ADMIN</option>
                <option selected value="USER">USER</option>
            </select>
        </label>
    </p>
    <input type="submit" value="Update User">
</form>
<form th:action="@{/logout}" method="post">
    <button type="submit">Sign Out</button>
</form>
</body>
</html>