<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-block">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "user : ${user}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.surname}"></td>
                        <td th:text="${user.age}"></td>
                        <td th:text="${user.roles}"></td>

                        <td><a th:href = "@{/admin/edit/{id}(id = ${user.id})}">Edit</a></td>
                        <td><a th:href = "@{delete/{id}(id = ${user.id})}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>